.countdown {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.countdown.australia {
  background-image: url('/assets/adelaide.jpg');
}

.countdown.la {
  background-image: url('/assets/angels-stadium.jpg');
}

.countdown.perth,
.countdown.ufc-adelaide,
.countdown.ufc-234 {
  background-image: url('/assets/ufc.jpg');
}

.countdown.wk {
  background-image: url('/assets/wrestle-kingdom.jpg');
}

.countdown.laraconau {
  background-image: url('/assets/laraconau.jpg');
}

.countdown.wsw {
  background-image: url('/assets/young-bucks.jpg');
}

.countdown.wsw-june {
  background-image: url('/assets/zsj.jpg');
}

.countdown.wsw-melbourne,
.countdown.wsw-adl-19 {
  background-image: url('/assets/scurll.jpg');
}

.countdown.njpw,
.countdown.njpwadl,
.countdown.njpwmel {
  background-image: url('/assets/elite.jpg');
}

.countdown.hoh {
  background-image: url('/assets/hoh.jpg');
}

.countdown.mormon {
  background-image: url('/assets/bookofmormon.jpg');
}

.countdown.settlement {
  background-image: url('/assets/germantown-rd-lot-empty.jpg');
}

/*.countdown.pl {*/
  /*background-image: url('/assets/pl.jpg');*/
/*}*/

.countdown.r1,
.countdown.r2,
.countdown.r3,
.countdown.r4,
.countdown.r5,
.countdown.r6,
.countdown.r7,
.countdown.r8,
.countdown.r9,
.countdown.r10,
.countdown.r11,
.countdown.r12,
.countdown.r13,
.countdown.r14,
.countdown.r15,
.countdown.r16,
.countdown.r17,
.countdown.r18,
.countdown.r19,
.countdown.r20,
.countdown.r21,
.countdown.r22,
.countdown.r23,
.countdown.anzac,
.countdown.anzac-al {
  background-image: url('/assets/anzac.jpg');
}

.countdown.f1 {
  background-image: url('/assets/f1.jpg');
}

.countdown.wwe {
  background-image: url('/assets/mcg.jpg');
}

.countdown.ukip {
  background-image: url('/assets/ukip.jpg');
}

.countdown .darken {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}

.countdown .text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
  font-size: 4vh;
  text-shadow: 1px 1px 2px black;
  line-height: 4.5vh;
}

.countdown .text .weeks-left {
  font-size: 2.6vh;
}

.countdown .text .date {
  font-size: 2vh;
}

.countdown .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.countdown .footer ul {
  padding: 0;
}

.countdown .footer ul li {
  display: inline-block;
  margin: 0 1vh;
}

a:link, a:visited {
  color: #cdcdcd;
  text-decoration: none;
}

.highlight,
a.active:link,
a.active:visited {
  color: #e0c44c;
}
