<div [class]="wrapperClasses">
  <div class="darken"></div>

  <div class="text">
    <span *ngIf="daysLeft > 0">
      It's only
      <strong class="highlight">{{ daysLeft }}</strong>
      {{ dayPlural }} until
      <strong class="highlight">{{ countdown.msg }}</strong>!<br>
    </span>

    <span *ngIf="daysLeft === 0">
      <strong>{{ countdown.msg }}</strong> is today!<br>
    </span>

    <span *ngIf="daysLeft < 0">
      <strong>{{ countdown.msg }}</strong> was on {{ formattedWhen }}!<br>
    </span>

    <span class="weeks-left" *ngIf="daysLeft > 7">
      Or if you like, it's
      <strong class="highlight">{{ weeksLeft }}</strong>
      {{ weekPlural }} on {{ dayOfWeek }}!
    </span><br>

    <span class="date" *ngIf="daysLeft >= 0">{{ formattedWhen }}</span>
  </div>

  <div class="footer">
    <ul>
      <li *ngFor="let item of links">
        <a [routerLink]="['/', item.key]" routerLinkActive="active">{{ item.text }}</a>
      </li>
    </ul>
  </div>
</div>
